.card {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff;
  background-color: rgba(0,0,0,0.2);
  &__body {
    text-align: center;
    overflow-y: auto;
    @extend .group;
    button {
      float:right;
      margin-top: 20px;
      background-color: transparent;
      border: none;
      color: #000;
      &:hover {
        background-color: transparent;
      }
      &:focus {
        outline: none;
        background-color: transparent;
      }
      &:active {
        outline: none;
        background-color: transparent;
        border: none;
        box-shadow: none;
        &:hover {
          outline: none;
          background-color: transparent;
        }
      }
    }
    p {
      max-height: 60px;
    }
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}