form {
  margin-top: 40px;
  label {
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
  }
  button {
    float: right;
    transition: all .15s ease-in-out;
    margin-bottom: 40px;
  }
}