.topheader {
  background-color: #174c80;
}
.navbar {
  background-color: #000;
}
.navbar-item {
  color: #fff;
}

.navbar-nav a {
  color: #fff;
  background-color: red;
}

.results--section {
  padding: 20px 0px;
  margin-top: 40px;
}
h1 {
  text-align: center;
  font-size: 30px;
}
h2 {
  text-align: center;
}

body {
  background-image: url('./assets/img/background.png');
}